#banner {
    background-attachment: scroll;
    background-color: #c4c4c4;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 20px;
    padding: 70px 0;
    position: relative;
}

#banner .copy {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    display: inline;
    float: left;
    max-width: 700px;
    padding: 20px;
    position: relative;
    z-index: 1;
}

#banner h2 {
    color: #fff;
    font-family: font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-stretch: condensed;
    font-weight: 700;
    line-height: 0.9;
    margin: 0;
    text-transform: uppercase;
}

#banner .intro {
    color: #fff;
    font-size: 21px;
    opacity: 0.75;
}

.navbar a {
	color: #FD0000;
}

a.navbar-brand {
    color: #FFA500;
}

.navbar-inverse {
    background-color: #1c1c1c;
    border-color: #080808;
}

#content-heading {
    padding-top: 0px;
	padding-bottom: 10px;
}

div.collapseheader {
    width=98%;
    background-color: #cccccc;
    padding: 2px;
    cursor: pointer;
    font-size: 14px;
    font-family:Arial, sans-serif;
}

div.input_prompt {
    display: none;
}

div.cell a.anchor-link {
    display: none;
}

